<nb-layout>
    <nb-layout-header><h1>Wallet</h1></nb-layout-header>

    <nb-layout-column>

        <div class="row">
            <div class="col-md-12">
                <nb-alert status="success">Your wallet is growing day by day... | Current: $49</nb-alert>
            </div>
            <div class="col-md-6">
                <app-line-chart></app-line-chart>
            </div>
            <div class="col-md-6">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>