<nb-card>
    <nb-card-header>
        <h1>Change Log</h1>
    </nb-card-header>

    <nb-card-body>
        <nb-accordion>
            <nb-accordion-item>
                <nb-accordion-item-header>
                    1.2 (2020 April)
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object,
                    including galaxies beyond the Milky Way.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>
                    1.1 (2020 March)
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object,
                    including galaxies beyond the Milky Way.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>
                    1.0 (2020 January)
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object,
                    including galaxies beyond the Milky Way.
                </nb-accordion-item-body>
            </nb-accordion-item>

        </nb-accordion>
    </nb-card-body>
</nb-card>

